****************************************
**        PYTHON ETERNAL CODE         **
**                                    **
**           numpy library            **
**  np.kron() for Kronecker Product   **
****************************************

****************************************
**         RUST ETERNAL CODE          **
**                                    **
**          crate 'ndarray'           **
**        crate 'num-complex'         **
****************************************